.battery {
	width: 60vmin;
	height: 40vmin;
}

.batteryFull {
	composes: battery;
	background-color: white;
}

.batteryCharging {
	composes: battery;
	animation: charging 1s alternate infinite;
}

.batteryDischarging {
	composes: battery;
	animation: discharging 1s alternate infinite;
}

.batteryUnknown {
	composes: battery;
	background-color: grey;
}

.batteryText {
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 10vmin;
	font-family: Arial, sans-serif;
}

.batteryLevel {
	composes: batteryText;
}

@keyframes charging {
	from { transform: scale(1); }
	to { transform: scale(1.05); }
}

@keyframes discharging {
	// No animation
}
