.battery {
	width: 60vmin;
	height: 40vmin;
}

.batteryFull {
	composes: battery;
	background-color: white;
}

.batteryCharging {
	composes: battery;
	background-color: hsl(150, 50%, 70%);
}

.batteryDischarging {
	composes: battery;
	background-color: hsl(0, 50%, 70%);
}

.batteryUnknown {
	composes: battery;
	background-color: grey;
}

.batteryLevel {
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 10vmin;
	font-family: Arial, sans-serif;
}
